mixin my-custom-select()
  .custom-select
    .custom-select__inner
      .custom-select__current
      .custom-select__icon
        svg(width='10' height='10' aria-hidden='true')
          use(xlink:href='#icon-arrow-down-bold')
    .custom-select__body
      label.custom-select__label-item
        input(type='hidden' name='option')
      label.custom-select__label-item
        input(type='hidden' name='option')
      label.custom-select__label-item
        input(type='hidden' name='option')
      label.custom-select__label-item
        input(type='hidden' name='option')
      label.custom-select__label-item
        input(type='hidden' name='option')
      label.custom-select__label-item
        input(type='hidden' name='option')
