mixin header(headerMods, currentPage)
  header.header(class=headerMods)
    .container.header__container
      if(currentPage === "index")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          img(src="../img/svg/header-logo.svg", alt="Логотип")
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          img(src="../img/svg/header-logo.svg", alt="Логотип")
      .header__icons-wrapper
        button.btn.header__btn.header__btn--mail
          +icon("icon-mail", 17, 17)
        button.btn.header__btn.header__btn--log-in
          +icon("icon-user-1", 15, 15)
